@model CoreFitnessClub.Web.ViewModels.Account.RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Register.css" />
}

<div class="signUp-container">
    <div class="signUp-card">

        <div class="signUp-message">
            <h1>Become a Member</h1>
            <p>
                Sign up to continue your fitness journey with full access to your customized program,
                training history, and progress tracking. Stay consistent, monitor your development,
                and keep moving forward with the structure and support built into your account.
            </p>
        </div>

        <hr class="signUp-hr" />

        <div class="external-signUp">

            @if (Model.ExternalProviders.Any())
            {
                <form asp-controller="Account" asp-action="ExternalLogin" method="post">
                    <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />

                    @foreach (var provider in Model.ExternalProviders)
                    {
                        <partial name="ExternalProviders/_@(provider)Button" />
                    }

                </form>
            }
        </div>

        <div class="signUp-divider">
            <hr />
            <span>OR CONTINUE WITH</span>
            <hr />
        </div>

        <form asp-controller="Account" asp-action="Register" method="post" class="user-signUp">
            @Html.AntiForgeryToken()

            <div class="signUp-group">
                <label asp-for="Email">Email Address *</label>
                <input asp-for="Email" type="email" placeholder="username@domain.com" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="signUp-button-row">
                <button type="submit" class="signUp-button">
                    Continue <span>&gt;</span>
                </button>
            </div>

            <div class="signUp-info">
                <p>We will send a verification code to your email.</p>
            </div>
        </form>

    </div>
</div>