<header class="site-header">
    <div class="header-container">
        <div class="header-logo">
            <a asp-controller="Home" asp-action="Index">
                <img src="~/images/CoreFitnessLogo.svg" alt="Core Fitness Logo" />
            </a>
        </div>

        <nav class="header-nav">
            <a asp-controller="Home" asp-action="NotFoundPage">Fitness Centers</a>
            <a asp-controller="Memberships" asp-action="Create">Memberships</a>
            <a asp-controller="Home" asp-action="NotFoundPage">Training</a>
            <a asp-controller="CustomerService" asp-action="Index">Customer Service</a>
            <a asp-controller="Home" asp-action="NotFoundPage">Store</a>
        </nav>

        <div class="header-account">
            @if (User.Identity?.IsAuthenticated == true)
            {                         
         
                <a asp-controller="WorkoutClasses" asp-action="Index" class="navbar-button">Our Classes</a>
                <a asp-controller="MyPage" asp-action="Index" class="button">My Account </a>
            }
            else
            {
                <a asp-controller="Account" asp-action="Register" class="navbar-button">Become Member</a>
                <a asp-controller="Account" asp-action="Login" class="button">Sign in</a>
            }
        </div>
    </div>
</header>
