<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CoreFitnessClub.Web</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CoreFitnessClub.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/header.css" />
    <link rel="stylesheet" href="~/css/footer.css" />
    <link rel="stylesheet" href="~/css/button.css" />
    <link rel="stylesheet" href="~/css/external-provider.css" />
    <link rel="stylesheet" href="~/css/WorkoutClasses.css" />
    <link rel="stylesheet" href="~/css/MyBookings.css" />
    <link rel="stylesheet" href="~/css/Memberships.css" />

    @RenderSection("Styles", required: false)
</head>
<body class="@(Context.Request.Path.Value == "/" ? "home-page" : "")">
    <partial name="_Header" />

    <main>
        @RenderBody()
    </main>

    <partial name="_Footer" />

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
