.button {
    background-color: var(--accent-color);
    color: var(--black-text);
    border: none;
    padding: 0.5rem 1.5rem;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    text-decoration: none;
}

.button:hover {
    background-color: var(--white-text-bg);
    color: var(--dark-bg);
}

.delete-button {
    color: red;
    background-color: var(--bg);
    font-size: 14px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.save-button {
    border: none;
    background: var(--accent-color);
    color: var(--black-text);
    border-radius: 999px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.error-button {
    background-color: var(--accent-color);
    color: var(--black-text);
    border: none;
    padding: 0.5rem 1.5rem;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.error-button:hover {
    background-color: var(--dark-bg);
    color: var(--white-text-bg);
}

.book-button {
    width: 100%;
    border: none;
    border-radius: 999px;
    padding: 0.85rem 1rem;
    background: var(--accent-color);
    color: var(--black-text);
    font-weight: 600;
    cursor: pointer;
}

.book-button:hover {
    background: var(--dark-bg);
    color: var(--white-text-bg);
}

.login-button {
    border: none;
    background: var(--accent-color);
    color: var(--black-text);
    border-radius: 999px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    width: 100%;
    max-width: 700px;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
.login-button:hover {
    background: var(--dark-bg);
    color: var(--white-text-bg);
}
