.log-in-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10rem;
}

.login-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--white-text-bg);
    border-radius: 20px;
    padding: 40px 48px;
    width: 860px;
}

.welcome-message {
    font-family: "Poppins", sans-serif;
    padding: 3rem;
}

.welcome-message h1 {
    font-weight: 500;
    font-size: 32px;
    color: var(--dark-text);
    margin: 0 0 24px 0;
}

.welcome-message p {
    font-size: 1rem;
    color: var(--grey-text);
    margin: 0;
}

.login-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    border: 1px solid var(--hr);
    padding: 1rem;
    border-radius: 50%;
}

.login-hr {
    border: none;
    height: 1px;
    background: var(--hr);
    width: 100%;
    margin: 1rem 0;
}

.login-divider {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.login-divider hr {
    border: none;
    height: 1px;
    background: var(--hr);
    width: 100%;
    margin: 1rem 0;
}

.login-divider span {
    font-size: 1rem;
    color: #888;
    white-space: nowrap;
}

.user-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    width: 100%;
}

.login-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
    margin-bottom: 18px;
    width: 100%;
    max-width: 800px;
}

.login-group label {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: var(--dark-text);
}

.login-group input[type="email"],
.login-group input[type="password"] {
    width: 100%;
    height: 48px;
    padding: 1.5rem;
    border: none;
    border-radius: 12px;
    background: var(--bg);
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    color: var(--dark-text);
}

.password-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.forgot-password {
    font-size: 12px;
    color: var(--accent-color);
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

.forgot-password:hover {
    text-decoration: underline;
}

.login-button-row {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 1.5rem 0;
}

.login-button {
    border: none;
    background: var(--accent-color);
    color: var(--black-text);
    border-radius: 999px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    width: 100%;
    max-width: 700px;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.terms-and-conditions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    font-family: "Poppins", sans-serif;
    padding-top: 1rem;
    cursor: pointer;
}

.terms-and-conditions input {
    display: none;
}

.custom-checkbox {
    width: 20px;
    height: 20px;
    background-color: var(--bg);
    border-radius: 6px;
    display: inline-block;
    position: relative;
    transition: 0.2s;
    font-family: "Poppins", sans-serif;
}

.terms-and-conditions input:checked + .custom-checkbox {
    background-color: var(--accent-color);
}

.terms-and-conditions input:checked + .custom-checkbox::after {
    content: "";
    position: absolute;
    left: 6px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.text-danger {
    color: #d93025;
    font-size: 14px;
    margin-top: 6px;
}

.external-providers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem;
    gap: 2rem;
    width: 100%;
}
