@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --white-text-bg: #FFFFFF;
    --dark-text: #27252F;
    --accent-color: #D6EB31;
    --black-text: #000000;
    --dark-bg: #131020;
    --quote-color: #0805171a;
    --grey-text: #575757;
    --bg: #F7F7F7;
    --hr: #E6E6E6;
}

body {
    background-color: var(--bg);
    font-family: "DM Sans", sans-serif;
}
